/Obj
/Library
/Temp
/Assets/StreamingAssets/*.unity3d
/Assets/StreamingAssets/*.unity3d.meta
/Assets/UnityVS
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/QualitySettings.asset

build
*.pidb
*.csproj
*.sln
*.userprefs
*.unityproj
*.suo
*.svd
*.user
*.booproj